#about {
    min-height: 50vh;
    padding: 2.0rem 0;
}

.about-title {
    color: var(--color-default);
}

.about-infos {
    width: 100%;
}

.about-img {
    width: 70%;
    height: fit-content;

    margin: 2.8rem;

    border: 0.7rem solid var(--color-default);
    border-radius: 50%;

    overflow: hidden;

}

.about-description {
    padding: 3.2rem;
    flex-shrink: 2;

    transform: scale(.85);
    line-height: 1.5;
}


.about-social {
    flex-shrink: 1;

    padding: calc(var(--pixel) * 4);
    border: .2rem solid;
    margin: calc(var(--pixel) * 3) 0;
}

.about-social img {
    max-width: 5rem;
}