#about {
    height: calc(100vh * 0.7);

    display: flex;

    background-color: rgb(101, 101, 101);
    color: rgb(192, 192, 192);
}

#about .container {
    align-items: center;
}

#about img {
    width: 80%;
    border-radius: 50%;
}