#banner {
    color: var(--text-default);

    width: 100%;
    min-height: 90vh;

    padding-top: 10vh;

    background-image: linear-gradient( to left, var(--color-secondary), var(--color-primary) );

    overflow: hidden;
}

#banner .title-default {
    text-align: start;
    margin-left: 10%;
}

#banner-info {
    content: "";

    width: 100%;
    max-width: 80%;

    padding: 4rem;

    position: relative;
    
    flex: 1 2 50vw;
}

.banner__img {
    width: 100%;
    padding: 5%;
    flex: 1 2 50vw; 
}

.banner__img.--float {
    /* border: 2px solid; */
    animation: float 8s infinite ease-in-out;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

@keyframes float {
    0%, 100% {
        transform: translate(0, 0);
    }

    25%, 75% {
        transform: translateY(5%);
    }
    
    50% {
        transform: translateY(0%);
    }
}

.banner-subtitle {
    color: var(--color-default);
}

@media (max-width: 768px) {
    
    #banner {
        background-image: linear-gradient( 180deg, var(--color-secondary), var(--color-primary) );
    }

    #banner .container {
        flex-direction: column-reverse;
    }

    .banner__img {
        padding: 10%;

    }
}