#banner {
    color: var(--text-default);

    width: 100%;
    height: 90vh;

    padding-top: 10vh;

    background-image: linear-gradient( to left, var(--color-secondary), var(--color-primary) );

    overflow: hidden;
}

#banner .title-default {
    text-align: start;
    margin-left: 10%;
}

#banner-info {
    content: "";

    width: 100%;
    max-width: 80%;

    padding: 4rem;

    position: relative;
    
    flex: 1 2 50vw;
}

.banner-img {
    width: 100%;
    padding: 5%;
    flex: 1 2 50vw; 
}

.banner-subtitle {
    color: var(--color-default);
}

@media (max-width: 768px) {
    
    #banner {
        background-image: linear-gradient( 180deg, var(--color-secondary), var(--color-primary) );
    }

    #banner .container {
        flex-direction: column-reverse;
    }

    .banner-img {
        padding: 10%;
    }
}