#contact {
    padding: var(--pad-default) 0;

    min-height: 40vh;
}

.contact-infos {
    max-width: 50%;
    flex: 1 0 50%;
    padding: var(--pad-default);
    color: var(--text-default);
}


.social-item {
    width: 100%;
    height: 5.0rem;
    flex: 1 1 1.00rem;
}

.social-item a {
    width: 100%;
}

.social-name {
    width: 100%;
    transform: translateY(-20%);
    background-color: rgba(var(--color-default-rgb), .8);
    color: var(--text-default);
    padding: var(--pixel) calc(var(--pixel) * 3);
}

#contact-form {
    width: 100%;
    padding: var(--pad-md);
}

.contact-field {
    flex-grow: 1;
}

#contact-form label {
    width: fit-content;

    background-color: rgba(var(--color-default-rgb), .8);
    color: var(--text-default);

    position: relative;
    top: 1.0rem;

    padding: calc(var(--pad-md) / 2) var(--pad-md);
    transform: translateY(-20%);

    /* margin-bottom: calc(var(--pixel) * -1.5) ; */
}

#contact-form button {
    flex-grow: 1;
    flex-basis: 50%;
}