.main-header {
    background-color: inherit;

    width: 100%;

    position: fixed;
    top: 0;

    z-index: 1;
    box-shadow: 1rem 0 4rem -18px;
}

.main-header .container {
    margin: 0 auto;
    padding: 1.6rem;
}

.main-header #logo {
    font-weight: bold;
    letter-spacing: -1.5px;
}

.main-header nav > ul {
    display: flex;
    gap: 8px;
    
}

.main-header nav > ul:hover li {
    filter: blur(2px);

    transition-property: "transform";
    transition: .25s ease-out;
}

.main-header nav > ul li:hover {
    position: relative;
    filter: blur(0);
    transform: scale(1.2);
    padding: var(--pad-md) var(--pad-default);
    border-radius: var(--radius-default);
}