.header {
    width: 100%;
    position: fixed;
    background: var(--color-secondary);
    z-index: 1;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

/* ----------------- nav ----------------- */

.nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav__hamburger {
    cursor: pointer;
}

.nav__list {
    background-color: var(--color-primary);
    padding: 16px;

    display: none;
    flex-direction: column;
    gap: 12px;

    box-shadow: var(--shadow-default);
    border-radius: var(--radius-md);

    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;

    transform: translateY(100%);
}

.nav__list.--show {
    animation: showNav .8s forwards;
    display: flex;
}

@keyframes showNav {
    0% {
        opacity: 0;
    }
    
    100% {
        display: flex;
        opacity: 1;
    }
}