#skills {
    min-height: 60vh;
}


.skills-section {
    background-color: var(--color-primary);
    min-height: 20vh;
    
    padding: var(--pad-default);
    
    /* border: .1rem solid; */
    border-radius: var(--radius-default);

    box-shadow: 0 0 1rem;
}

.skills-section:nth-child(even) {
    flex-direction: row-reverse;
}

.skills-title {
    max-width: 40%;
}

.skills-list {
    max-width: 40%;
}

.skills-list li {
    position: relative;
    
    flex-basis: 200rem;
    padding: var(--pad-md) var(--pad-default);
    
    font-size: 2.8rem;

    background-color: var(--color-primary);
    color: var(--color-white)
}
.skills-list li span {
    position: absolute;
    bottom: 0;
    background-color: rgba(var(--color-default-rgb), .8);
    color: var(--color-primary);
    border-radius: var(--radius-default);

    padding: var(--pad-md) var(--pad-default);

    font-weight: bold;
    margin: 0 auto;

    box-shadow: 0 0 .8rem var(--color-black);
}

.skill-img {
    filter: drop-shadow(0px 0px 3px var(--color-default));
    width: 60%;
    margin: 0 auto;
}