@import url('./components/reset.css');

@import url('./components/common/index.css');
@import url('./components/basics.css');

@import url('./components/header.css');
@import url('./components/main.css');
@import url('./components/about.css');
@import url('./components/skills.css');
@import url('./components/projects.css');
@import url('./components/contact.css');
@import url('./components/footer.css');

html {
    font-size: 62.5%;
}

body {
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* colors */
    --bg-secondary-rgb: 101, 101, 101;
    --color-secondary-rgb: 192, 192, 192;

    /* padding */
    --pad-default: 1.6rem;
    --pad-md: calc( var(--pad-default) / 2 );

    /* radius */
    --radius-default: .4rem ;

    /* box-shadow */
    --shadow-default: .2rem .2rem .4rem rgba( 0, 0, 0, .4 );
}