@import url('./display/flex.css');


.text-center {
    text-align: center;
}

.w-full {
    width: 100%;
}

.rounded {
    border-radius: var(--radius-default);
}

.title-default {
    text-align: center;
    margin: calc(var(--pixel) * 4) 0;
    max-width: 4 center;
    color: var(--text-default);
    text-shadow: 0.3rem 0.3rem 0.5rem rgba(var(--color-default-rgb), 0.4);
    font-size: 3.8rem;
}

.container {
    width: 100%;
    /* max-width: 120.0rem; */

    margin: 0 auto;
    /* padding: 3.2rem 1.6rem; */
}

@media (min-width: 640px) {
    .container {
        max-width: 640px; /* 14px */
    }
}

/* Responsividade - Tamanho MD (medium) */
@media (min-width: 768px) {
    .container {
        max-width: 768px; /* 16px */
    }
}

/* Responsividade - Tamanho LG (large) */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px; /* 18px */
    }
}

/* Responsividade - Tamanho XL (extra-large) */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px /* 20px */
    }
}

/* Responsividade - Tamanho 2XL */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px; /* 22px */
    }
}

/* Responsividade - Tamanho 3XL */
@media (min-width: 1920px) {
    .container {
        max-width: 1920px; /* 24px */
    }
}
